<html>
    <head>
        <title>
                BE SMART | IMPROVE YOURSELF
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            .nav-color {
                background-color: #052F66;
                
            }
           
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse nav-color">
            <div class="container-fluid ">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/company-info">BE SMART</a>
                </div>
                <ul class="nav navbar-nav nav-color">
                    <li><a href="/homepage.html"> Home</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Courses <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="/createcourse">Create Course</a></li>
                          <li><a href="courselist">Manage Course</a></li>
                         
                        </ul>
                      </li>
                    <li ><a href="#"> Enrolled Students</a></li>
                    <li><a href="#"> Payment History</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a  class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Edit Profile <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="edituserinformation">Edit User Information</a></li>
                      <li><a href="edituserpassword">Edit Password</a></li>
                      </ul>
                    </li>
                    <li><a href="login.html"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                  </ul>
                </div>
              </nav>
            </div>
        </nav>
    </body>
</html>